@model TaskManagement.Models.MainTaskModel
@{
    ViewData["Title"] = "Task(s)";
}

<div class="row mt-2">
    <div class="d-flex align-items-center justify-content-between">
        <h5 class="float-start text-black">Task(s)</h5>
        <a class="btn btn-primary fs-14 d-flex align-items-center btn-pd" href="@Url.Action("Create","Home")">
            <i class="fa fa-plus me-1"></i> Add Task
        </a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="table-responsive">
            <table id="dataTable" class="display table table-bordered table-striped dt-responsive nowrap" style="width:100%;border-collapse:collapse; border-spacing:0;border:1px solid #EFEFFD;">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th class="text-center">
                            TITLE
                        </th>
                        <th class="text-center">
                            DESCRIPTION
                        </th>
                        <th class="text-center">
                            ASSIGNEE
                        </th>
                        <th class="text-center">
                            REVIEWER
                        </th>
                        <th class="text-center">
                            DUE DATE
                        </th>
                        <th class="text-center">
                            STATUS
                        </th>
                        <th class="text-center">
                            ACTION
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<input type="hidden" hidden="hidden" name="message" value="@Model.message" id="message" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<!-- Required datatable js -->
<script src="~/datatables/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/datatables/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/datatables/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/datatables/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Sweet Alerts-->
<script src="~/sweetalert2/sweetalert2.all.min.js"></script>
<link href="~/sweetalert2/sweetalert2.min.css" />

<script>
    $(document).ready(function () {
        var url = "@Url.Action("GetTaskWithPagination", "Home")";

        var table = $('#dataTable').DataTable({
            "serverSide": true,
            "filter": true,
            "ajax": {
                "type": "post",
                "datatype": "json",
                "data": function () {
                    $('#dataTable').DataTable().ajax.url(
                        url
                    )
                }
            },
            "columns": [
                {
                    "data": function (data, full, meta) {
                        if(data.type == "Milestone"){
                            return '<p class="text-wrap milestone pt-2 pb-2 pe-1 ps-1">M</p>';
                        }
                        else if(data.type == "Compliance"){
                            return '<p class="text-wrap compliance pt-2 pb-2 pe-1 ps-1">C</p>';
                        }
                        else if(data.type == "Task"){
                            return '<p class="text-wrap task pt-2 pb-2 pe-1 ps-1">T</p>';
                        }
                    },
                    "name": ""
                },
                {
                    "data": function (data, full, meta) {
                        return '<p class="text-wrap">' + data.title + '</p>';
                    },
                    "name": "TITLE"
                },
                {
                    "data": function (data, full, meta) {
                        return '<p class="text-wrap">' + data.description + '</p>';
                    },
                    "name": "DESCRIPTION"
                },
                {
                    "data": function (data, full, meta) {
                        return '<p class="text-wrap">' + data.assignee + '</p>';
                    },
                    "name": "ASSIGNEE"
                },
                {
                    "data": function (data, full, meta) {
                        return '<p class="text-wrap">' + data.reviewer + '</p>';
                    },
                    "name": "REVIEWER"
                },
                {
                    "data": function (data, full, meta) {
                        return '<p class="text-wrap">' + data.dueDate + '</p>';
                    },
                    "name": "DUE DATE"
                },
                {
                    "data": function (data, full, meta) {
                        return '<p class="text-wrap">' + data.status + '</p>';
                    },
                    "name": "STATUS"
                },
                {
                    "data": function (data, full, meta) {
                        var editUrl = "@Url.Action("Edit", "Home")";
                        editUrl = editUrl + "?id=" + data.id;

                        return '<div class="d-flex"><a href=' + editUrl + ' class="btn btn-success shadow btn-xs sharp me-1"> <i class="fa fa-pencil"></i> Edit</a></div>';
                    },
                    "name": "ACTION"
                },
            ],
            "responsive": true,
            "deferRender": true,
            searching: true,
            paging: true,
            select: true,
            lengthChange: true,
            ordering: true,
            'columnDefs': [{
                'targets': [7],
                'orderable': false,
            }],
            language: {
                paginate: {
                    next: '<i class="fa fa-angle-double-right" aria-hidden="true"></i>',
                    previous: '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'
                },
                'processing': '<div class="sk-three-bounce"><div class="sk-child sk-bounce1"></div><div class="sk-child sk-bounce2"></div><div class="sk-child sk-bounce3"></div></div>'
            },
            dom: "<'row'<'col-md-3 col-sm-12 pt-1 mb-0'l><'col-sm-12 col-md-3'f><'col-sm-12 col-md-6'p>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        });
    });

    $(document).ready(function () {
        var message = $("#message").val();
        var url = "@Url.Action("Index", "Home")";
        if (message != null && message != "") {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'ms-3 btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            if(message.includes("wrong")){
                swalWithBootstrapButtons.fire({
                    title: 'Error.',
                    html: message,
                    icon: 'error'
                }).then((result) => {
                    window.location.href = url;
                });
            }
            else{
                swalWithBootstrapButtons.fire({
                    title: 'Success.',
                    html: message,
                    icon: 'success'
                }).then((result) => {
                    window.location.href = url;
                });
            }
        }
    });
</script>